@using System.Data
@model DataTable


<h1>Product Listing</h1>
<hr>
<table class ="Table">
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Stock</th>
    <tbody>
        @foreach(DataRow dr in Model.Rows){
            <tr>
                <td>@dr["ID"]</td>
                <td>@dr["Name"]</td>
                <td>@dr["Price"]</td>
                <td>@dr["Stock"]</td>
                <td></td>
                <td> @Html.ActionLink("Display","Display","Product",new{id=@dr["ID"]})</td>
            </tr>
        }
    </tbody>
</table>